<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <!-- ロジックをここに書くのではなく、先に計算してあげて、データをここに表示してあげる -->
    <h1>ランダムな値：<%= rand %></h1>
    
</body>
</html>