<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <!-- ロジックをここに書くのではなく、先に計算してあげて、データをここに表示してあげる -->
    <h1>ランダムな値：<%= rand %></h1>

    <!-- ejsで条件文 -->
    <% if (rand % 2 === 0) { %>
        <h2>偶数だよ！！！！！</h2>
    <% } else { %>
        <h2>奇数です！！！！！！！！！！！！！！！</h2>
    <% } %>
    <!-- 三項演算子 -->
    <h3><%= rand % 2 === 0 ? "偶数" : "奇数" %></h3>
</body>
</html>